<h1>Customers</h1>
<ul>
    <li *ngFor="let customer of customers" (click)="currentCustomer = customer">{{customer.name}}</li>
</ul>

<h1>{{currentCustomer.name}}</h1>
<p>
    {{currentCustomer.name}} is at {{currentCustomer.address.street}} in {{currentCustomer.address.city}}, {{currentCustomer.address.state}}
    in the {{currentCustomer.address.region}} region.
</p>

<input [(ngModel)]="currentCustomer.name" />
<label>
    Hide Address:
    <input [(ngModel)]="hideAddress" type="checkbox" />
</label>

<div [hidden]="hideAddress">
    <fieldset>
        <label>Street: <input [(ngModel)]="currentCustomer.address.street" /></label>
    </fieldset>
    <fieldset>
        <label>City: <input [(ngModel)]="currentCustomer.address.city" /></label>
    </fieldset>

    <fieldset>
        <label>State</label>
        <select [(ngModel)]="currentCustomer.address.state">
            <option>California</option>
            <option>Jalisco</option>
            <option>Quebec</option>
            <option>Illinois</option>
        </select>
    </fieldset>


    <fieldset>
        <label [style.color]="color">Region</label>
        <select [(ngModel)]="currentCustomer.address.region">
            <option *ngFor="let region of regions">{{region}}</option>
        </select>
    </fieldset>
</div>
